{
  "extends": [
    "@readme/eslint-config",
    "@readme/eslint-config/typescript"
  ],
  "root": true,
  "overrides": [
    {
      "files": ["bin/**"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
