coverage/**
packages/**/coverage/
packages/**/dist/

# httpsnippet-client-api
packages/httpsnippet-client-api/test/__datasets__/**/output.js

# test-utils
packages/test-utils/fixtures/
packages/test-utils/sdks
