{
  "extends": ["@readme/eslint-config", "@readme/eslint-config/typescript"],
  "root": true,
  "rules": {
    "unicorn/prefer-node-protocol": "error"
  },
  "overrides": [
    {
      "files": ["bin/**"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
