CHANGELOG.md

# api subpackage
packages/api/.api/
packages/api/coverage/
packages/api/.eslint*
packages/api/.gitignore
packages/api/.prettier*
packages/api/CHANGELOG.md
packages/api/dist/
packages/api/example.js
packages/api/test/__fixtures__/sdk/

# httpsnippet-client-api subpackage
packages/httpsnippet-client-api/coverage/
packages/httpsnippet-client-api/dist/
packages/httpsnippet-client-api/test/__datasets__/**/output.js
