CHANGELOG.md
packages/**/coverage/
packages/**/dist/

# api
packages/api/.api/
packages/api/example.js
packages/api/test/__fixtures__/sdk/

# httpsnippet-client-api
packages/httpsnippet-client-api/test/__datasets__/**/output.js
