CHANGELOG.md
packages/**/coverage/
packages/**/dist/

# api
packages/api/.api/
packages/api/example.js

# httpsnippet-client-api
packages/httpsnippet-client-api/test/__datasets__/**/output.js

# test-utils
packages/test-utils/sdks/**/*
