{
  "extends": "@readme/eslint-config/testing",
  "rules": {
    "jest/expect-expect": [
      "warn",
      {
        "assertFunctionNames": [
          "expect",
          "nock"
        ]
      }
    ]
  }
}
